<!-- <section>
  <mat-card>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input
        [(ngModel)]="userEmail"
        type="email"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="userPass"
        type="password"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <button mat-button (click)="loginBtn()" class="loginBtn">Login</button>
  </mat-card>
</section> -->

<section>
  <mat-card>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        [(ngModel)]="userName"
        type="text"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Favorite Plant</mat-label>
      <input
        [(ngModel)]="favPlant"
        type="text"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <button mat-button (click)="saveFavPlant()" class="loginBtn">Login</button>
  </mat-card>
</section>
